/mosquitto/config
/mosquitto/data
/mosquitto/log

/device-emulator/data.json

__pycache__/
*.py[cod]

venv/
.venv/
*/.venv
*/venv
.env

dist/
*.egg-info/

.coverage
*.py,cover
.cache/

*.py,cover

.ipynb_checkpoints

.env